<div class="modal fade bs-example-modal-lg" id="modal-insertar-quimica">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h3 class="modal-title text-primary">Insertar prueba de Química Sanguínea</h3>
      </div>
      <form class="form-horizontal" style="padding: 0 10px;" name="frmquimicaSanguinea" ng-submit="insertar(quimicaSanguinea)">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <h4 class="text-success">Examen Fisico</h4>
              <div class="form-group">
                <label class="col-sm-4">Glucemia</label>
                <input type="text" class="col-sm-8" placeholder="Color" ng-model="quimicaSanguinea.glucemia">
              </div>
              <div class="form-group">
                <label class="col-sm-4">Creatinina</label>
                <input type="text" class="col-sm-8" placeholder="Cantidad" ng-model="quimicaSanguinea.creatinina">
              </div>
              <div class="form-group">
                <label class="col-sm-4">Ácido urico</label>
                <input type="text" class="col-sm-8" placeholder="Ácido urico" ng-model="quimicaSanguinea.acido_urico">
              </div>
              <div class="form-group">
                <label class="col-sm-4">Colesterol total</label>
                <input type="text" class="col-sm-8" placeholder="colesterol total" ng-model="quimicaSanguinea.colesterol_total">
              </div>
              <div class="form-group">
                <label class="col-sm-4">hdl colesterol</label>
                <input type="text" class="col-sm-8" placeholder="hdl colesterol" ng-model="quimicaSanguinea.hdl_colesterol">
              </div>
              <div class="form-group">
                <label class="col-sm-4">ldl colesterol</label>
                <input type="text" class="col-sm-8" placeholder="ldl colesterol" ng-model="quimicaSanguinea.ldl_colesterol">
              </div>
              <div class="form-group">
                <label class="col-sm-4">Trigliceridos</label>
                <input type="text" class="col-sm-8" placeholder="Trigliceridos" ng-model="quimicaSanguinea.trigliceridos">
              </div>

            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label class="col-sm-4">f alcalina</label>
                <input type="text" class="col-sm-8" placeholder="f alcalina" ng-model="quimicaSanguinea.f_alcalina">
              </div>
              <div class="form-group">
                <label class="col-sm-4">transaminasa_got</label>
                <input type="text" class="col-sm-8" placeholder="transaminasa_got" ng-model="quimicaSanguinea.transaminasa_got">
              </div>
              <div class="form-group">
                <label class="col-sm-4">transaminasa_gpt</label>
                <input type="text" class="col-sm-8" placeholder="transaminasa_gpt" ng-model="quimicaSanguinea.transaminasa_gpt">
              </div>
              <div class="form-group">
                <label class="col-sm-4">bilirrubina_total</label>
                <input type="text" class="col-sm-8" placeholder="bilirrubina_total" ng-model="quimicaSanguinea.bilirrubina_total">
              </div>
              <div class="form-group">
                <label class="col-sm-4">bilirrubina_directa</label>
                <input type="text" class="col-sm-8" placeholder="bilirrubina_directa" ng-model="quimicaSanguinea.bilirrubina_directa">
              </div>
              <div class="form-group">
                <label class="col-sm-4">bilirrubina_indirecta</label>
                <input type="text" class="col-sm-8" placeholder="bilirrubina_indirecta" ng-model="quimicaSanguinea.bilirrubina_indirecta">
              </div>
              <div class="form-group">
                <label class="col-sm-4">amilasa</label>
                <input type="text" class="col-sm-8" placeholder="amilasa" ng-model="quimicaSanguinea.amilasa">
              </div>
              <div class="form-group">
                <label class="col-sm-4">proteinas_totales</label>
                <input type="text" class="col-sm-8" placeholder="proteinas_totales" ng-model="quimicaSanguinea.proteinas_totales">
              </div>
              <div class="form-group">
                <label class="col-sm-4">albumina</label>
                <input type="text" class="col-sm-8" placeholder="albumina" ng-model="quimicaSanguinea.albumina">
              </div>
              <div class="form-group">
                <label class="col-sm-4">calcio</label>
                <input type="text" class="col-sm-8" placeholder="calcio" ng-model="quimicaSanguinea.calcio">
              </div>
              <div class="form-group">
                <label class="col-sm-4">cpk</label>
                <input type="text" class="col-sm-8" placeholder="cpk" ng-model="quimicaSanguinea.cpk">
              </div>
              <div class="form-group">
                <label class="col-sm-4">cpk_mb</label>
                <input type="text" class="col-sm-8" placeholder="cpk_mb" ng-model="quimicaSanguinea.cpk_mb">
              </div>
              <div class="form-group">
                <label class="col-sm-4">gamaglutamil_transpeptidasa</label>
                <input type="text" class="col-sm-8" placeholder="gamaglutamil_transpeptidasa" ng-model="quimicaSanguinea.gamaglutamil_transpeptidasa">
              </div>

            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>prueba_inmunologica_embarazo</label>
                <textarea ng-model="quimicaSanguinea.prueba_inmunologica_embarazo" class="col-sm-12" id="" cols="10" rows="2"></textarea>
              </div>
            </div>

          </div>
        </div>


        <div class="modal-footer">
          <p class="text-danger" ng-show="testGenError">
            <b>La prueba ya fue registrada</b>
          </p>
          <p class="text-success" ng-show="testGenSuccess">
            <b>Datos Almacenados Correctamente</b>
          </p>
          <button type="submit" class="btn btn-success">
            <i class="fa fa-save"></i> Guardar</button>
        </div>

      </form>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>