<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <h3 class="text-info">Informe</h3>
            <p>
                <b>Paciente: </b>
                <span>{{ paciente.nombre }} {{ paciente.apellidos }}</span>
                <b class="text-margin-left">Edad: </b>
                <span>{{ paciente.edad }}</span>
                <b class="text-margin-left">Sexo: </b>
                <span ng-if="paciente.sexo == 'M' ">Masculino</span>
                <span ng-if="paciente.sexo == 'F' ">Femenino</span>
                <br>
                <b>Fecha de Prueba: </b>
                <span>{{ prueba.fecha | amDateFormat:'DD/MM/YYYY HH:mm:ss' }}</span>
            </p>
            <a class="btn btn-info" ng-if="!notData" ng-click="mostrarEditar( listInforme )">
                <i class="fa fa-edit"></i>Editar</a>
            <a class="btn btn-danger" ng-if="!notData" ng-click="mostrarEliminar( listInforme )">
                <i class="fa fa-remove"></i>Eliminar</a>
        </div>


    </div>
    <section class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="text-primary box-title">Prueba</h3>

                        <div class="box-tools">
                            <div class="input-group">
                                <a ng-click="insertarModal()" ng-if="notData" class="btn btn-success">
                                    <i class="fa fa-plus"></i> Agregar Informe</a>
                            </div>
                        </div>

                    </div>
                    <div class="box-body">
                        <p ng-if="notData">No tiene prueba de informe.</p>
                          <section id="section-pdf">

                          </section>
                        <!-- <embed ng-if="!notData" ng-src="{{ PATH }}" id="informe-pdf" width="100%" height="400px"> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div ng-include="'pruebas-examenes/informe/add.html'"></div>
<div ng-include="'pruebas-examenes/informe/edit.html'"></div>
<div ng-include="'pruebas-examenes/informe/delete.html'"></div>
