<div class="container">
    <div class="well">
        <p><b>Paciente: </b> <span>{{ paciente.nombre }} {{ paciente.apellidos }}</span></p>
        <p><b>Edad: </b> <span>{{ paciente.edad }}</span></p>
        <p><b>Sexo: </b><span>{{ paciente.sexo }}</span></p>
        <br>
         <div class="form-group">
            <label for="miembroInput" class="text-info">Medico</label>    
                <select  class="form-control" ng-model="medico">
                    <option   ng-repeat="med in medicos" value="{{med.id}}">{{med.nombre }} {{med.apellidos}}</option>
                </select>
         </div>       
    <!--<button class="btn btn-block btn-success" ng-disabled="btnInsertarExa" ng-click="insertarExamen()">Elegir Examen</button>-->
    </div>
    <section class="animate fadeIn" ng-show="verExamenes"> 
        <div class="row">
            <h2 class="text-primary">Elija Examen</h2>
            <div class="col-md-4" ng-click="modalInsertarBio('Biometria')">
                <div class="well well-examen">
                    Biometria
                </div>
            </div>
            <div class="col-md-4" ng-click="modalInsertarExamenGeneral('Analisis General')">
                <div class="well well-examen">
                    Analisis General
                </div>
            </div>
            <div class="col-md-4" ng-click="modalInsertarReaccion('Reaccio de Widal')">
                <div class="well well-examen">
                    Reaccion de Widal
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" ng-click="modalInsertarInfo('Informe General')">
                <div class="well well-examen">
                    Informe - General
                 </div>
            </div>
            <div class="col-md-4" ng-click="modalInsertarInfo('Informe de Quimica Sanguinea')">
                <div class="well well-examen well-examen">
                     Informe - Quimica Sanguinea
                </div>
            </div>
            <div class="col-md-4" ng-click="modalInsertarInfo('Informe de Parasitologia')">
                <div class="well well-examen">
                     Informe - Parasitologia
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-4" ng-click="modalInsertarInfo('informe de Microbiologia')">
                <div class="well well-examen">
                    Informe - Microbiologia
                </div>
            </div>
             
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col-md-16">
                <div class="box">
                    <div class="box-header with-border">
                        <h2 class="text-info">Examenes</h2>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Nro</th>
                                    <th>Nombre</th>
                                    <th>Ver</th> 
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="examen in examenPaciente">
                                    <td>{{ $index+1 }}</td>
                                    <td>{{ examen.tipo }}</td>
                                    <td>{{ examen.id_tipo }}</td>
                                </tr> 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div ng-include="'paciente/modal-insertar-informe.html'"></div>
<div ng-include="'paciente/modal-insertar-general.html'"></div>
<div ng-include="'paciente/modal-inserta-biometria.html'"></div>
<div ng-include="'paciente/modal-insertar-reaccion.html'"></div>