<div class="modal fade" id="modal-medico-eliminar">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         <h4 class="modal-title">Eliminar</h4>
      </div>
      <form 
             ng-submit="eliminar( medicoSel )" 
      >
      <div class="modal-body">
<!--                 <div class="form-group">
                  <label>Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" ng-model="medicoSel.nombre" required>
                </div>

                <div class="form-group">
                  <label>Apellidos</label>
                    <input type="text" class="form-control" placeholder="Apellidos" ng-model="medicoSel.apellidos" required>
                </div> -->
                <h3 class="text-danger">Desea Realmente Eliminar los Datos?</h3>
                <p><span class="text-info">Nombre: </span>{{ medicoSel.nombre }}</p>

            
      </div>
      

      <div class="modal-footer">
        <div class="progress animated fadeIn" ng-show="medicoEditado.respuesta.err">
            <div class="indeterminate"></div>
        </div>
        <center>
          <div ng-show="medicoEditado.respuesta.cargado" id="exito" class="animated bounceIn" > </div>
        </center>
        <button type="submit" class="btn btn-danger"> <i class="fa fa-save"></i> Eliminar</button>
      </div>
      
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>