<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <p>
                <b>Paciente: </b>
                <span>{{ paciente.nombre }} {{ paciente.apellidos }}</span>
            </p>
            <p>
                <b>Edad: </b>
                <span>{{ paciente.edad }}</span>
            </p>
            <p>
                <b>Sexo: </b>
                <span>{{ paciente.sexo }}</span>
            </p>
            <br>
            <div class="form-group" ng-show="selectMed">
                <label for="miembroInput" class="text-info">Medico</label>
                <select class="form-control" ng-model="medico">
                    <option ng-repeat="med in medicos" value="{{med.id}}">{{med.nombre }} {{med.apellidos}}</option>
                </select>
            </div>
            <span>{{ ifmedExists }}</span>
            <button class="btn btn-block btn-success" ng-disabled="btnInsertarExa" ng-click="insertarExamen()" ng-show="selectMed">Crear Examen</button>
        </div>


        <section>
            <div class="row">
                <div class="col-md-16">
                    <div class="box">
                        <div class="box-header with-border">
                            <h2 class="text-info">Examenes</h2>
                        </div>
                        <div class="box-body">
                            <p ng-show="cargandoDatosExamenes">Cargando Datos </p>
                            <p ng-show="noExistenExamenes">No Existen Examenes Aun</p>
                            <table class="table table-hover" ng-show="verExamenesPaciente">
                                <thead>
                                    <tr>
                                        <th>Nro</th>
                                        <th>Nombre Medico</th>
                                        <th>Fecha</th>
                                        <th>Ingresar</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="examen in listaExamenes ">
                                        <td>{{ $index+1 }}</td>
                                        <td>{{ examen.NombreMed }} {{ examen.ApellidosMed }}</td>
                                        <td>{{formatDate(examen.fecha)}}</td>
                                        <td>
                                            <a href="#/examen/{{examen.id}}/{{examen.NombreMed}}/{{examen.ApellidosMed }}/{{ examen.fecha}}" class="btn btn-info">Ingresar</a>
                                        </td>
                                        <td>
                                            <button class="btn btn-success" ng-click="showEdit(paciente.id,examen.id_tipo, examen.tipo)">Editar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>