<div class="modal fade" id="modal-insertar-reaccion">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">


			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Reaccion de Widal</h4>
			</div>
			<form class="form-horizontal" style="padding: 0 10px;" ng-submit="insertarReaccion(reaccion)">
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<h4 class="text-success">Informe</h4>
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th>Dilucion</th>
										<th>1/20</th>
										<th>1/40</th>
										<th>1/80</th>
										<th>1/160</th>
										<th>1/320</th>
										<th>1/400</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Paratyphi "A"</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.pA20">
										</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.pA40">
										</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.pA80">
										</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.pA160">
										</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.pA320">
										</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.pA400">
										</td>
									</tr>
									<tr>
										<td>Paratyphi "B"</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.pB20">
										</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.pB40">
										</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.pB80">
										</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.pB160">
										</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.pB320">
										</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.pB400">
										</td>
									</tr>
									<tr>
										<td>Somatico "O"</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.s20">
										</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.s40">
										</td>

										<td>
											<input class="form-control" type="text" ng-model="reaccion.s80">
										</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.s160">
										</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.s320">
										</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.s400">
										</td>
									</tr>
									<tr>
										<td>Flagelar "H"</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.f20">
										</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.f40">
										</td>
										
										<td>
											<input class="form-control" type="text" ng-model="reaccion.f80">
										</td>
										<td>
										<input class="form-control" type="text" ng-model="reaccion.f160">
										</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.f320">
										</td>
										<td>
											<input class="form-control" type="text" ng-model="reaccion.f400">
										</td>
									</tr>

								</tbody>
							</table>
							<div class="form-group">
								<label class="col-sm-12">Comentario</label>
								<textarea ng-model="reaccion.comentario" class="col-sm-12" id="" cols="10" rows="5"></textarea>
							</div>

						</div>
					</div>
				</div>

				<div class="modal-footer">
					<p class="text-danger" ng-show="testReacError">
						<b>La prueba ya fue registrada</b>
					</p>
					<p class="text-success" ng-show="testReacSuccess">
						<b>Datos Almacenados Correctamente</b>
					</p>
					<button type="submit" class="btn btn-success">
						<i class="fa fa-save"></i> Guardar</button>
				</div>

			</form>

		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>