<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <h2 class="text-info">BIOMETRIA</h2>
            <p>
                <b>Paciente: </b>
                <span>{{ paciente.nombre }} {{ paciente.apellidos }}</span>
            </p>
            <p>
                <b>Edad: </b>
                <span>{{ paciente.edad }}</span>
            </p>
            <p>
                <b>Sexo: </b>
                <span ng-if="paciente.sexo == 'M' ">Masculino</span>
                <span ng-if="paciente.sexo == 'F' ">Femenino</span>
            </p>
            <p>
                <b>Fecha de Prueba: </b>
                <span>{{ prueba.fecha | amDateFormat:'DD/MM/YYYY HH:mm:ss' }}</span>
            </p>
        </div>


        <section>
            <div class="row">
                <div class="col-md-16">
                    <div class="box">
                        <div class="box-header with-border">
                            <h2 class="text-info">BIOMETRIA</h2>
                        </div>
                        <div class="box-body">
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>