<section class="row fadeInDown animated">
	<div class="col-md-8 col-md-offset-2">
		<h2 class="text-primary">Datos de Examen</h2>
		<div class="well">
			<p>
				<b>Paciente: </b>
				<span>{{ paciente.nombre }} {{ paciente.apellidos }}</span>

				<b>Edad: </b>
				<span>{{ paciente.edad }}</span>

				<b>Sexo: </b>
				<span>{{ paciente.sexo }}</span>
			</p>
			<p>
				<b>Medico: </b>
				<span>{{ nombreMed }} {{ apellidoMed}}</span>
				<b>Fecha del Examen: </b>
				<span>{{ formatDate(fechaExa) }}</span>
			</p>
			<br>
		</div>
		<section class="animate fadeIn">
			<div class="row">
				<h2 class="text-primary">Elija Prueba</h2>
				<div class="col-md-4" ng-click="modalInsertarBio('Biometria')">

					<div class="well well-examen">
						Biometria
					</div>
				</div>
				<div class="col-md-4" ng-click="modalInsertarExamenGeneral('Analisis General')">
					<div class="well well-examen">
						Analisis General
					</div>
				</div>
				<div class="col-md-4" ng-click="modalInsertarReaccion('Reaccio de Widal')">
					<div class="well well-examen">
						Reaccion de Widal
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" ng-click="modalInsertarInfo('Informe General')">
					<div class="well well-examen">
						Informe - General
					</div>
				</div>
				<div class="col-md-4" ng-click="modalInsertarInfo('Informe de Quimica Sanguinea')">
					<div class="well well-examen well-examen">
						Informe - Quimica Sanguinea
					</div>
				</div>
				<div class="col-md-4" ng-click="modalInsertarInfo('Informe de Parasitologia')">
					<div class="well well-examen">
						Informe - Parasitologia
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-md-4" ng-click="modalInsertarInfo('informe de Microbiologia')">
					<div class="well well-examen">
						Informe - Microbiologia
					</div>
				</div>

			</div>
		</section>
		<div class="box">
			<div class="box-header with-border">
				<h3 class="text-primary box-title">Examenes</h3>
			</div>
			<div class="box-body">
				<span ng-show="cargandoExamenes">Cargando..</span>
				<span ng-show="noExistenExamenes">No existen Examenes aun..</span>
				<br>
				<label for="#" ng-show="examenesCargado">Buscar</label>
				<input ng-show="examenesCargado" type="text" class="form-control" placeholder="Buscar" ng-model="buscadorExamen" required>
				<table ng-show="examenesCargado" class="table table-hover table-striped">
					<thead>
						<tr>
							<th>Prueba</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="examen in examenes  | filter:buscadorExamen">
							<td> {{ formatName(examen.nombre) }}</td>
							<td>
								<button class="btn btn-info" ng-click="showPrint(examen.id)">Imprimir</button>
							</td>
							<td>
								<button class="btn btn-primary" ng-click="editarPrueba(examen.id, examen.nombre)">Editar</button>
							</td>
							<td>
								<button class="btn btn-danger" ng-click="eliminarPrueba(examen.id, examen.nombre)">Eliminar</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</section>
<div ng-include="'paciente/modal-insertar-informe.html'"></div>
<div ng-include="'paciente/modal-insertar-general.html'"></div>
<div ng-include="'paciente/modal-inserta-biometria.html'"></div>
<div ng-include="'paciente/modal-insertar-reaccion.html'"></div>

<div ng-include="'paciente/editar/reaccion.html'"></div>
<div ng-include="'paciente/editar/general.html'"></div>
<div ng-include="'paciente/editar/informe.html'"></div>
<div ng-include="'paciente/editar/biometria.html'"></div>

<div ng-include="'paciente/eliminar/reaccion.html'"></div>
<div ng-include="'paciente/eliminar/general.html'"></div>
<div ng-include="'paciente/eliminar/informe.html'"></div>
<div ng-include="'paciente/eliminar/biometria.html'"></div>