
<section class="row fadeInDown animated">
<div class="col-md-6 col-md-offset-3 col-xs-12 info-contenedor">
	<div class="">
		<div class="box-header">
			<h2 class="text-primary box-title">Informes</h2>
			<div class="box-tools">
				<div class="input-group">
					<!--<a class="btn-floating btn-green btn-fixed"><i class="fa fa-plus"></i></a>-->
				</div>
			</div>
		</div>
		<div class="box-body">
		<div class="loader-img animate fadeIn" ng-show="informe.cargando">
			<center>
				<br><br><br><br><br>
				Cargando...
			</center>
		</div>

			<div  ng-show="informe.cargado">
				<section class="card-panel" ng-repeat="informe in informe.Informe">
					<div class="card-content">
						<span class="card-title primary-text-color">{{ informe.nombre }} </span>

						<small class="secondary-text-color">{{ informe.fecha_a | date :  "dd-MMMM-yyyy" }}</small>

						<span class="botones-info"> 
							<!-- <a class="btn-floating btn-blue" ng-click="mostrar( informe )"><i class="fa fa-pencil"></i></a>
							<a class="btn-floating btn-red" ng-click="mostrarEliminar( informe )"><i class="fa fa-trash"></i></a>  -->
							<a ng-click="mostrarModal( informe )" class="editar-informe"><i class="fa fa-pencil"></i></a>
							<a ng-click="mostrarEliminar( informe )" class="eliminar-informe"><i class="fa fa-trash"></i></a>
						</span>
						<p><i class="fa fa-user-md secondary-text-color"></i><span class="secondary-text-color"> Dr</span> <span class="primary-text-color">{{ informe.medNombre }} {{ informe.medApellidos }}</span> </p>
						<p><i class="fa fa-user secondary-text-color"></i><span class="secondary-text-color"> Paciente</span> <span class="primary-text-color">{{ informe.pacNombre }} {{ informe.pacApellidos }}</span> </p>
						<p><i class="fa fa-file secondary-text-color"></i><span class="primary-text-color"> {{ informe.comentario }}</span> </p>
					</div>
				</section>
			</div>



		</div>
		<div class="box-footer clearfix">
			<ul class="pagination pagination-sm no-margin pull-right">
				<li>
					<a ng-click="moverA(1)"> << </a>
				</li>
				<li ng-repeat="pag in informe.paginas"
					ng-class="{
						'active' : informe.pag_actual === pag
					}
					"
					>
					<a ng-click="moverA(pag)">{{ pag }}</a>
				</li>

				<li>
					<a ng-click="moverA(informe.total_paginas)"> >> </a>
				</li>
			</ul>
		</div>
	</div>
</div>



</section>
<div ng-include="'template/modal/modal_informe.html'"></div>
