<div class="modal fade" id="modal-edit-prueba">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Editar Prueba</h4>
            </div>
            <form name="frmPruebaInsertar" ng-submit="edit(edtprueba)">
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-4">Fecha y hora de Prueba</label>
                            <input type="datetime-local" class="col-sm-7" id="edt_hora_fecha" value="{{ edtprueba.fecha }}">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-4">Elija un Médico</label>
                            <div class="col-sm-7">
                                <select class="form-control" ng-model="edtprueba.medico_id" required>
                                    <option ng-repeat="med in medicos" value="{{med.id}}" ng-selected="med.id === edtprueba.medico_id ">{{med.nombre }} {{med.apellidos}}</option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label>Comentario</label>
                        <br>
                        <textarea style="word-break: break-all;" ng-model="edtprueba.comentario" class="col-sm-12" id="" cols="30" rows="3"></textarea>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-save"></i> Guardar</button>
                </div>

            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>