<section class="row fadeInDown animated">
  <ol class="breadcrumb">
    <li>
      <a href="#/">Inicio</a>
    </li>
    <li class="active">Medicos</li>
  </ol>
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="text-primary box-title">Médicos</h3>
        <div class="box-tools">
          <div class="input-group">
            <a ng-click="insertarModal()" class="btn btn-success">
              <i class="fa fa-plus"></i> Agregar Médico</a
            >
          </div>
        </div>
      </div>
      <div class="box-body">
        <label for="#" ng-show="medicosCargado">Buscar</label>
        <input
          type="text"
          class="form-control"
          placeholder="Buscar"
          ng-model="buscadorMedico"
          ng-change="search()"
        />
        <p class="animate fadeIn text-center" ng-show="noExistenMedicos">
          No existen médicos
        </p>
        <p class="animate fadeIn text-center" ng-show="cargandoMedicos">
          Cargando..
        </p>
        <table
          class="table table-hover table-striped table-bordered table-sm table-condensed"
          ng-show="medicosCargado"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="medico in medicos">
              <td>
                {{ ((response.current_page - 1) * response.limit) + ($index + 1)
                }}
              </td>
              <td>{{ medico.nombre }}</td>
              <td>
                <a class="btn btn-info" ng-click="mostrarEditar( medico )">
                  <i class="fa fa-edit"></i>Editar</a
                >
              </td>
              <td>
                <a class="btn btn-danger" ng-click="mostrarEliminar( medico )">
                  <i class="fa fa-remove"></i>Eliminar</a
                >
              </td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation" class="text-center">
          <ul class="pagination pagination-sm">
            <li>
              <a
                ng-click="toPage(response.current_page,'subs')"
                aria-label="Anterior"
              >
                Anterior
              </a>
            </li>
            <li
              ng-repeat="pag in [] | pagination:response"
              ng-class="{'active': pag == response.current_page}"
            >
              <a ng-click="toPage(pag)">{{pag}}</a>
            </li>
            <li>
              <a
                ng-click="toPage(response.current_page,'add')"
                aria-label="Siguiente"
              >
                Siguiente
              </a>
            </li>
          </ul>
          <p>
            Mostrando {{ response.current_page * response.limit }} registros de
            {{ response.total }} registros en total.
          </p>
        </nav>
      </div>
    </div>
  </div>
</section>

<div ng-include="'medico/modal/modal_medico.html'"></div>
<div ng-include="'medico/modal/modal_editar_medico.html'"></div>
<div ng-include="'medico/modal/modal_eliminar_medico.html'"></div>
