
<section class="row fadeInDown animated">
<div class="col-md-8 col-md-offset-2">
	<div class="box">
		<div class="box-header with-border">
			<h3 class="text-primary box-title">Medicos</h3>
			<div class="box-tools">
				<div class="input-group">
					<a ng-click="insertarModal()" class="btn btn-success"><i class="fa fa-plus"></i> Agregar Medico</a>
				</div>
			</div>
		</div>
		<div class="box-body">
		<span class="animate fadeIn" ng-show="noExistenMedicos">No existen medicos aun..</span>
		<span class="animate fadeIn" ng-show="cargandoMedicos">Cargando..</span>
		<label for="#" ng-show="medicosCargado">Buscar</label>
		<input type="text" ng-show="medicosCargado" class="form-control" placeholder="Buscar" ng-model="buscadorMedico" required>
			<table class="table table-hover table-striped" ng-show="medicosCargado" > 
				<thead>
				 <tr> 
				 	<th>Nombre</th> 
				 	<th>Apellidos</th>
					<th>Editar</th>
				 	<th>Eliminar</th> 
				 </tr> 
				</thead> 
				<tbody>
				 	<tr ng-repeat="medico in medicos  | filter:buscadorMedico">
				 		 <td> {{ medico.nombre }}</td> 
				 		 <td> {{ medico.apellidos }} </td> 

				 		 <td> <a class="btn btn-info"  ng-click="mostrarEditar( medico )"><i class="fa fa-edit"></i>Editar</a> </td>

				 		 <td> <a class="btn btn-danger" ng-click="mostrarEliminar( medico )"><i class="fa fa-remove"></i>Eliminar</a> </td>  
				 	</tr> 
				</tbody> 
			</table>
		</div>
		<!--<div class="box-footer clearfix">
			<ul class="pagination pagination-sm no-margin pull-right">
	
				<li ng-repeat="pag in medicos.paginas"
					ng-class="{
						'active' : medicos.pag_actual === pag
					}">
					<a ng-click="moverA(pag)">{{ pag }}</a>
				</li>		
			</ul>
		</div>	-->
	</div>
</div>

</section>

<div ng-include="'medico/modal_medico.html'"></div>
<div ng-include="'medico/modal_editar_medico.html'"></div>
<div ng-include="'medico/modal_eliminar_medico.html'"></div>