<div class="modal fade" id="modal-medico">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
         <h4 class="modal-title">{{accion}}</h4>
      </div>
      <form  name = "med"
             ng-submit="insertar(medico)" 
             novalidate="novalidate" 
      >
      <div class="modal-body">
                <div class="form-group">
                  <label>Nombre</label>
                    <input type="text" class="form-control" placeholder="Nombre" id="medNombre" ng-model="medico.nombre" required>
                </div>
                <div class="form-group">
                  <label>Apellidos</label>
                    <input type="text" class="form-control" placeholder="Apellidos" id="medApellidos" ng-model="medico.apellidos" required>
                </div>
      </div>
      

      <div class="modal-footer">
        <!--<div class="progress animated fadeIn" ng-show="medicoEditado.respuesta.err">
            <div class="indeterminate"></div>
        </div>
        <center>
          <div ng-show="medicoEditado.respuesta.cargado" id="exito" class="animated bounceIn" > </div>
        </center>-->
         <!--<h2 class="text-success">{{ medico }}</h2> -->
        <button type="submit" class="btn btn-success" > <i class="fa fa-save"></i> Guardar</button>
        
      </div>
      
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>